<div class="heading-container">
  <div class="avatar-ans-username">
    <span class="avatar"><mat-icon>account_circle</mat-icon></span>
    <span class="user-name">{{userName}}</span>
  </div>
  <div class="logo">
    <span class="html-text">HTML</span>
    <span class="css-text">CSS</span>
    <span class="and-text">and</span>
    <span class="js-text">JS</span>
    <span class="title-text">code editor</span>
  </div>
  <div class="actions">
    <button mat-button class="action-button reset-button" (click)="triggerReset()">
      <mat-icon>refresh</mat-icon> reset
    </button>
    <button mat-button class="action-button save-button" (click)="triggerSave()">
      <mat-icon>save</mat-icon> Save
    </button>
    <button mat-button class="action-button settings-button" (click)="triggerBottomsheet()">
      <mat-icon>settings</mat-icon> Projects
    </button>
  </div>
</div>