<div class="container">
  <form [formGroup]="formGroup">
    <div class="row">
      <h1>Login</h1>
    </div>
    <div class="row">
      <app-email-input
        label="Email"
        type="email"
        placeholder="Enter your email"
        [control]="formGroup.controls['email']"
        errorMessage="Enter a valid email"
      >
      </app-email-input>
    </div>
    <div class="row">
      <app-password-input
        label="Password"
        type="password"
        placeholder="Enter your password"
        [control]="formGroup.controls['password']"
        errorMessage="Password is required"
      >
      </app-password-input>
    </div>
    <div class="row">
      <button
        class="login-button"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onLogin()"
      >
        Login
      </button>
    </div>
    <div class="row">
      <button
        class="signin-button"
        mat-raised-button
        color="secondary"
        type="button"
        (click)="onSignin()"
      >
        Signup
      </button>
    </div>
  </form>
</div>
