<div class="container">
  <!-- Header -->
  <div class="row">
    <app-heading
      [isEdit]="isEdit"
      [userName]="userName"
      [userId]="userId"
      [projectId]="projectID"
      [htmlCode]="htmlCode"
      [cssCode]="cssCode"
      [jsCode]="jsCode"
      (resetEvent)="resetEditor($event)"
      (editEvent)="editEditor($event)"
    ></app-heading>
  </div>
  <!-- Main Content -->
  <div class="main">
    <!-- Left Section - Code Editor -->
    <div class="left">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label class="html-tab-heading">
            <span class="html-label">HTML</span>
          </ng-template>
          <div class="html-element">
            <textarea
              id="html-element"
              [(ngModel)]="htmlCode"
              placeholder="HTML"
            ></textarea>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label class="css-tab-heading">
            <span class="css-label">CSS</span>
          </ng-template>
          <div class="css-element">
            <textarea
              id="css-element"
              [(ngModel)]="cssCode"
              placeholder="CSS"
            ></textarea>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label class="js-tab-heading">
            <span class="js-label">JS</span>
          </ng-template>
          <div class="js-element">
            <textarea
              id="js-element"
              [(ngModel)]="jsCode"
              placeholder="JavaScript"
            ></textarea>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <!-- Right Section - Output -->
    <div class="right">
      <div class="output-container">
        <app-output
          [html]="htmlCode"
          [css]="cssCode"
          [js]="jsCode"
        ></app-output>
      </div>
    </div>
  </div>
</div>
