<div class="main row p-2 m-2">
  <div class="left col-sm-6">
    <div class="html-element row mt-2">
      <label for="html-element">HTML</label>
      <textarea
        id="html-element"
        [(ngModel)]="htmlCode"
        (input)="generateOutput()"
        placeholder="HTML"
      ></textarea>
    </div>
    <div class="css-element row mt-2">
      <label for="css-element">CSS</label>
      <textarea
        id="css-element"
        [(ngModel)]="cssCode"
        (input)="generateOutput()"
        placeholder="CSS"
      ></textarea>
    </div>
    <div class="js-element row mt-2">
      <label for="js-element">JavaScript</label>
      <textarea
        id="js-element"
        [(ngModel)]="jsCode"
        (input)="generateOutput()"
        placeholder="JavaScript"
      ></textarea>
    </div>
  </div>
  <div class="right col-sm-6 p-2">
    <app-output [html]="htmlCode" [css]="cssCode" [js]="jsCode"></app-output>
  </div>
</div>

